<div class="cont">
    <div class="c2">
        <img src="{{estateUnit?.imgLink}}" alt="">
    </div>
    <div class="c2">
        <div contenteditable>заголовок: {{estateUnit?.name}}</div>
        <div contenteditable>цена: {{estateUnit?.price}}$</div>
        <div contenteditable>комнат: {{estateUnit?.roomsCount}}</div>
        <div contenteditable>жилплощадь: {{estateUnit?.liveSquare}} / этажей: {{estateUnit?.floor}}</div>
        <div contenteditable>тип: {{estateUnit?.type}}</div>
    </div>
</div>
