<div style=" padding: 20px; border: 1px solid black;">
  <div>" 'https://tankionline.com' | linksConverter : 'Tanki Online' "</div>
  <div [innerHTML]=" 'https://tankionline.com' | linksConverter : 'Tanki Online' "></div>
</div>


<div style=" padding: 20px; border: 1px solid black;">
  <div>10</div>
  <div [innerHTML]=" 10 | rating "></div>
  <div>77</div>
  <div [innerHTML]=" 77 | rating "></div>
  <div>100</div>
  <div [innerHTML]=" 100 | rating "></div>
</div>


<div style=" padding: 20px; border: 1px solid black;">
  <div>" 1000 | price : 75 "</div>
  <div [innerHTML]="1000 | price : 75"></div>
  <div>" 1000 | price : 0 "</div>
  <div [innerHTML]="1000 | price : 0"></div>
</div>



