    <!-- <div class="block"><img style="height: 50px;" src="{{item.imgLink}}" alt=""></div>
    <div class="block">{{item.name}}</div>
    <div class="block">{{item.bel}}</div>
    <div class="block">{{item.jir}}</div>
    <div class="block">{{item.ugl}}</div>
    <div class="block">{{item.kal}}</div> -->




    <div class="block"><img style="height: 50px;" src="{{productArrElement?.imgLink}}" alt=""></div>
    <div class="block">{{productArrElement?.name}}</div>
    <div class="block">{{productArrElement?.bel}}</div>
    <div class="block">{{productArrElement?.jir}}</div>
    <div class="block">{{productArrElement?.ugl}}</div>
    <div class="block">{{productArrElement?.kal}}</div>
