<div class="container">
  <div class="priceDiv">
    <h2 class="price">{{ newPrice }} BYN</h2>
    <h2 class="oldPrice">{{ oldPrice }}</h2>
    <h2 class="discount">{{ discount }}%</h2>
  </div>
  <h3 class="remain">осталось {{ remain }} штук</h3>
  <h2 class="name">
    {{ name }}
  </h2>
  <h2 class="description">
    {{ description }}
  </h2>
  <div class="ratingDiv">
    <h2 class="stars">☆{{ stars }}</h2>
    <h2 class="comments">🗨️{{ comments }}</h2>
  </div>
  <button class="buyButton">🛒 {{ date }}</button>
</div>
